<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Change</title>
</head>

<body style="background-color:#f6f6f6; margin: 0; text-rendering: optimizelegibility; font-family: Helvetica, Arial, sans-serif; color: #F00">

<div  style="width:600px; min-height:500px; margin:30px auto; text-align:center; border-bottom:10px #ccc solid; background-color:#fff;">

    <div style="padding:10px; overflow:hidden; background-color: #0c5460;">
        <img src="{{ absolute_url(asset('img/logo.jpeg')) }}"/>
        <div style="color:#FFF; font-size:20px; font-weight:bold;">{{ 'Register'|trans }}</div>
    </div>

    <div style="text-align:left; padding:0 30px; color: #000;">
        <div style="font-size:20px; font-weight:bold; margin-top:30px; color: #000;">{{ 'Hi'|trans }},</div>
        <div style="font-size:16px; margin-top:25px; font-weight:600; letter-spacing:1px; line-height:0px; color: #000;">{{ 'You have an event request'|trans }}</div>
    </div>

</div>

</body>
</html>